body{
  background: #F1F6EF;
}
.header-profile{background: transparent;}
.btn-border{background: transparent;color: #15023A}
.btn-border-light{background: transparent;color: #15023A;border-color: #E8E8EE}
.btn-border-light-white{background: #fff;color: #15023A;border-color: #E8E8EE}
.justify-content-between{justify-content: space-between;}
.justify-content-end{justify-content: end;}
.btn-danger{background: #BF0000;border-color: #BF0000}
.btn-danger:hover,.btn-danger:focus{background: #DB0505;border-color: #DB0505}
.btn-lg{padding: 15px 20px;font-size: 18px;border-radius: 7px}
.icon{
  background: #26006f;
  color: #fff !important;
  text-decoration: none;
  border-color: #26006f;
  border-radius: 7px;
  padding: 7px;
  display: inline-flex;
}

/*profile nav*/
.profile-nav {
  flex: 1;
  overflow: hidden;
  padding-left: 80px;
  padding-right: 80px;
}
.profile-nav .owl-nav {
  display: flex !important;
  align-items: center;
  width: auto;
  justify-content: space-between;
  top: 0;
  z-index: 1;
  left: -60px;
  right: -70px;
}
.profile-nav .owl-stage-outer{position: relative;z-index: 2}
.profile-nav  .owl-nav button{
  width: 35px;
  height: 35px;
}
.profile-nav  .owl-nav button:not(:hover){background-color: #fff !important;border:1px solid #15023A;}
.profile-link{white-space: nowrap;display: flex;gap: 0 15px;align-items: center;}
.icon-50{width: 50px;height: 50px;border-radius: 50%;display: flex;align-items: center;justify-content: center;background: #FFFFFF;padding: 12px;}
.selected .icon-50{background: #A2E3B8}

/*default box*/
.light-gray-bg{
  background: #EEEEEE;
}
.white-box-outer{
  background: #fff;
  border-radius: 9px;
  padding: 35px;
  border: 1px solid #EEEEEE;
}
.drop-down{
  position: relative;
}
.dropdown-menu {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.20) !important;
  list-style: none;
  transition: all 0.5s;
  padding-top: 14px !important;
  padding-bottom: 18px !important;
  border: 1px solid #ddd !important;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 180px;
}
ul.dropdown-menu li{
  padding: 0;
  border: 0;
}
.dropdown-menu li a {
  padding: 8px 30px;
  color: #333333;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-transform: none;
  display: block;
  text-align: left;
}
.dropdown-menu li a:hover{
  background: #ecebeb;
}
/*titles*/
.text-18{font-size: 18px}
.text-20{font-size: 20px}
.text-24{font-size: 24px}
.text-30{font-size: 30px}
.medium{font-family: 'sharp_sansmedium';}
.semibold{font-family: 'sharp_sanssemibold';}
.group-title + p{margin-top: 0}
.m-0{margin: 0}

.bordered-box{
  border: 1px solid #E8E8EE;
  border-radius: 7px;
}
.bordered-box-2{
  border: 1px solid #E8E8EE;
  border-radius: 10px;
}
.bordered-list{
  padding: 0;
  border: 1px solid #E8E8EE;
  border-radius: 7px;
}
.bordered-list li{
  border-top: 1px solid #E8E8EE;
  padding: 15px;
}
.bordered-list li:first-child{border-top: 0}
.bordered-list li a{
  
  display: inline-block;
  font-family: 'sharp_sanssemibold';
}

.profile-info{}
.profile-picture{
  width: 145px;
  height: 145px;
  background: #E7E8FF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
}
.defalut-list-with-icon {
  list-style-type: none;
  padding: 0;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.defalut-list-with-icon li{
  margin-top: 12px;
  display: flex;
  gap: 8px;
}
.search-box{
  border: 1px solid #E1E1E1;
  border-radius: 9px;
  height: 50px;
  /* background:#fff url(images/search-interface.svg) 18px center no-repeat; */
  padding: 0 30px 0 50px;
  width: 100%;
}
.equal{height: 50px}
@media(min-width:68px){
  .space-large{padding: 60px}
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.table{
  width: 100%;
  border: 0;
  text-align: left;
}
.table thead tr th{
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #E8E8EE;
  font-size: 18px;
  font-family: 'sharp_sanssemibold';
  font-weight: normal;
  white-space: nowrap;
}
.table tbody tr td{
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #E8E8EE;
  font-size: 18px;
  font-family: 'sharp_sanssemibold';
  vertical-align: middle;
  white-space: nowrap;
}
.table tbody tr td:not(:first-child),
.table thead tr th:not(:first-child){
  padding-left: 30px;
}
.table tbody tr td p,.table tbody tr td{
  font-family: 'sharp_sansmedium';
  font-size: 16px;
  margin-top: 0;
}
.table tbody tr td p:last-child{
  margin-bottom: 0;
}
.rounded-label {
  border: 1px solid #E8E8EE;
  border-radius: 50%;
  font-size: 14px;
  padding: 4px;
  display: inline-flex;
  line-height: 1;
  min-width: 24px;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-items: center;
  vertical-align: middle;
}
.image{
  width: 86px;
}
.custom-checkbox {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}
.custom-checkbox input[type="checkbox"]{
  position: absolute;
  visibility: hidden;
}
.custom-checkbox input[type="checkbox"] + span{
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  display: inline-block;
}
.custom-checkbox input[type="checkbox"]:checked + span::before {
  content: '';
  width: 8px;
  height: 12px;
  transform: rotate(45deg);
  border-bottom: 2px solid;
  border-right: 2px solid;
  position: absolute;
  left: 5px;
  top: 1px;
}

.gradient-purple{
   background: rgb(233,232,255);
  background: -moz-linear-gradient(90deg, rgba(233,232,255,1) 0%, rgba(124,108,250,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(233,232,255,1) 0%, rgba(124,108,250,1) 100%);
  background: linear-gradient(90deg, rgba(233,232,255,1) 0%, rgba(124,108,250,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e9e8ff",endColorstr="#7c6cfa",GradientType=1); 
  border-radius: 9px;
  padding: 50px 20px 0 20px
}
.gradient-green{
 background: rgb(255,255,255);
background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(198,254,8,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(198,254,8,1) 100%);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(198,254,8,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#c6fe08",GradientType=1); 
border-radius: 9px;
  padding: 50px 20px 0 20px;
  border:1px solid #E8E8EE;
}
.single-image{line-height: 0}
.tab-nav{display: flex;gap: 15px;margin-top: 15px;margin-bottom: 25px}
.tab-nav li a{padding: 6px 18px;border-radius: 7px;display: block;}
.tab-nav li.active a{background: #15023A;color: #fff}
.tab-pan {
  display: none;
}
.tab-pan.active{display: block;}
.flex-row{
  padding-bottom: 25px;
  padding-top: 10px;
}
.sidemenu{
  background: #fff;
  border-radius: 9px;
  padding: 15px;
  border: 1px solid #EEEEEE;
}
@media (min-width:992px){
  .flex-row{
    display: flex;
    gap: 10px;
  }
  .flex-row .white-box-outer{
    flex: 1;
  }
}
@media (max-width:991px){
  .sidebar {
    display: flex;
    gap: 15px;
    scroll-behavior: smooth;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }
  .white-box-outer{
    padding: 25px;
  }
  .p-5 {
    padding: 15px !important;
  }
}